.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;

  &:hover,
  &:focus-visible {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}

.button--small {
  padding: 6px 12px;
}

.button--medium {
  padding: 10px 20px;
}

.button--large {
  padding: 12px 24px;
}

.button--primary {
  background-color: #17c090;
  color: white;

  &:hover,
  &:focus-visible {
    background-color: #13b487;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}

.button--secondary {
  background-color: #f0f0f0;
  color: #333;
}

.button--danger {
  background-color: #e6a826;
  color: white;
}