.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-top: 30px;
}

.products__paginator {
  grid-column: 1 / -1;
}

.products__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.products__no-results {
  text-align: center;
  font-size: 18px;
  color: #8d96a9;
}