@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff2") format("woff2"),
    url("/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2"),
    url("/fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: #FFFFFF;
  background-color: #333843;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

main {
  flex: 1;
  padding-top: 85px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 50px;

  @media (max-width: 2200px) {
    padding: 0 40px;
  }

  @media (max-width: 1023px) {
    max-width: 100%;
    padding: 0 40px;
  }

  @media (max-width: 767px) {
    padding: 0 30px;
  }

  @media (max-width: 520px) {
    padding: 0 25px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.link {
  color: #FFFFFF;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: #dde3ec;
  }
}

.link.router-link-active {
  color: #e8a725;

  &:hover,
  &:focus-visible {
    color: #e8a725;
  }
}

mark {
  background-color: #15c594;
  padding: 2px 4px;
  border-radius: 2px;
  font-weight: 600;
}

.p-paginator {
  --p-paginator-background: transparent;
  --p-paginator-nav-button-hover-background: #282c34;
  --p-paginator-color: #FFFFFF;
  --p-paginator-nav-button-color: #FFFFFF;
  --p-paginator-nav-button-hover-color: #FFFFFF;
  --p-select-background: #282c34;
  --p-select-border-color: transparent;
}

.p-select-overlay {
  --p-select-overlay-background: #282c34;
  --p-select-overlay-border-color: transparent;
}

.p-checkbox .p-checkbox-box {
  --p-checkbox-background: #282c34;
  --p-checkbox-border-radius: 4px;
}

.p-select {
  --p-select-background: #282c34;
  --p-select-border-color: transparent;
}